.nav-wrapper {
        background-color: black;
        width: 100%;
    }
    
.container {
        width: 100%;
   }

.section {
	background-color: #F7F6F5;
}

.divider {
	background-color: black;
}

.heading {
	color: black;	
}

#contact-form {
	background-color: #EEEDEB;
	border: 1px solid;
	border-color: black;
	/*border-radius: 300px;*/
	padding: 20px;
}

#submitBtn {
	background-color: black;
}

#contact-us {
	color: black;
}

form {
	/*border: 1px solid;
	border-color: black;*/
	
}

.card-title {
	color: black;
}

#comment-section {
	height:8rem;
}

.carousel .carousel-item {
width:300px !important;
}

.carousel {
	background-color: black;
}