<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ICEBOX</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Compiled and minified JavaScript -->
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <nav>
                    <div class="nav-wrapper">
                        <a href="#!" class="brand-logo"><img src="../images/icebox.png" alt="ICEBOX"></a>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            <li><a href="#events">Events</a></li>
                            <li><a href="#">Drinks</a></li>
                            <li><a href="#socialMedia">Social Media</a></li>
                            <li><a href="#visualMedia">Visual Media</a></li>
                            <li><a href="#contactUs">Contact Us</a></li>
                        </ul>
                        <ul class="side-nav" id="mobile-demo">
                            <li><a href="#events">Events</a></li>
                            <li><a href="#">Drinks</a></li>
                            <li><a href="#socialMedia">Social Media</a></li>
                            <li><a href="#visualMedia">Visual Media</a></li>
                            <li><a href="#contactUs">Contact Us</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- <div class="slider">
            <ul class="slides">
                <li>
                    <img src="http://lorempixel.com/580/250/nature/1">

                    <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="http://lorempixel.com/580/250/nature/2">
                    <div class="caption left-align">
                        <h3>Left Aligned Caption</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="http://lorempixel.com/580/250/nature/3">
                    <div class="caption right-align">
                        <h3>Right Aligned Caption</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="http://lorempixel.com/580/250/nature/4">
                    <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
            </ul>
        </div> -->
        <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="http://lorempixel.com/250/250/nature/1"></a>
    <a class="carousel-item" href="#two!"><img src="http://lorempixel.com/250/250/nature/2"></a>
    <a class="carousel-item" href="#three!"><img src="http://lorempixel.com/250/250/nature/3"></a>
    <a class="carousel-item" href="#four!"><img src="http://lorempixel.com/250/250/nature/4"></a>
    <a class="carousel-item" href="#five!"><img src="http://lorempixel.com/250/250/nature/5"></a>
  </div>
        <div class="row section">
            <div class="col s12">
            	<audio controls autoplay>
					<!-- <source src="horse.ogg" type="audio/ogg"> -->
					<source src="http://www.trinijunglejuice.com/tjjmusic/audio_player.swf?http_base_url=http://www.trinijunglejuice.com/tjjmusic/&audioid=3054" type="audio/mpeg">
					Your browser does not support the audio element.
				</audio>
				<object><embed src="http://www.trinijunglejuice.com/tjjmusic/audio_player.swf?http_base_url=http://www.trinijunglejuice.com/tjjmusic/&audioid=3054" FlashVars="http_base_url=http://www.trinijunglejuice.com/tjjmusic/&audioid=3054&autoPlay=true" quality="high" bgcolor="#000000"  width="552" height="194" loop="false" align="middle" allowFullScreen="true" allowScriptAccess="always"  type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"  scale="exactfit" > </embed></object>
                <a name="events"><h3 class="heading">Events</h3></a>
                <!-- <div class="divider"></div> -->
                <div class="row">
                    <div class="col s6 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <a href="http://islandetickets.com/event/338" target="_blank"><img class="" src="http://www.iceboxent.com/wp-content/uploads/2012/10/SUITS-black-tie-nyc-300x300.jpg" alt="SUITS Charity Soiree"></a>
                                <span class="card-title">SUITS Charity Soiree</span>
                            </div>
                            <div class="card-content">
                                <p>This December we are rocking A different type of suit. We are trading the bikinis and coverups for formal dresses and SUITS! Proceeds from this all inclusive event will go to support cancer awareness and research for those suffering with disease. <br><br> Dressing up doesn't mean posing up! Get ready to eat drink and party for a cause.</p>
                            </div>
                            <div class="card-action">
                                <a href="http://islandetickets.com/event/338" target="_blank">BUY TIX HERE!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s6 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <a href="https://islandetickets.com/event/328" target="_blank"><img class="" src="http://www.iceboxent.com/wp-content/uploads/2012/10/HOME2-300x300.jpg" alt="SUITS HOME"></a>
                                <span class="card-title">HOME</span>
                            </div>
                            <div class="card-content">
                                <p>This Christmas, with ICEBOX Entertainment charity begins at HOME. <br><br>
								After a year of bringing unforgettable VIBES to New York, the Bahamas, London, Toronto and Miami we feel that it is important to give back. Come celebrate everything you have always loved about being HOME for Christmas: the food, the music the DRINKS. <br><br>
								<!-- All proceeds from "HOME" will go to charitable homes throughout Trinidad to allow their children to feel the same warmth and happiness that we so love going HOME to. --> </p>
                            </div>
                            <div class="card-action">
                                <a href="https://islandetickets.com/event/328" target="_blank">BUY TIX HERE!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s6 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img src="../images/cover-photo.png">
                                <span class="card-title">Card Title</span>
                            </div>
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">BUY TIX HERE!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s6 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img src="../images/cover-photo.png">
                                <span class="card-title">Card Title</span>
                            </div>
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">BUY TIX HERE!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row section">
            <div class="col s12">
                <a name="socialMedia"><h3 class="heading">Social Media</h3></a>
                <div class="col s12 m6 l4 media">
                    <h4>Facebook</h4><span class="social social-facebook"></span>
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ficeboxent%2F&amp;tabs=timeline&amp;width=340&amp;height=600&amp;small_header=true&amp;adapt_container_width=true&amp;hide_cover=true&amp;show_facepile=true&amp;appId=479954058874096" width="100%" height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                </div>
                <div class="col s10 m6 l4 media">
                    <h4>Twitter</h4>
                    <a class="twitter-timeline" data-height="600px" href="https://twitter.com/IceBoxEnt">Tweets by IceBoxEnt</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="col s12 m8 l4 media">
                	<h4>Instagram</h4>
                    <!-- LightWidget WIDGET --><script src="http://lightwidget.com/widgets/lightwidget.js"></script><iframe src="http://lightwidget.com/widgets/335bd0298972512980884a7d380f401e.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>


                </div>
            </div>
        </div>
        <div class="row section">
            <div class="col s12">
                <a name="visualMedia"><h3 class="heading">Visual Media</h3></a>
                <!-- <div class="divider"></div> -->
                <!-- <iframe width="853" height="480" src="https://www.youtube.com/embed/1XIrBYEkkRI?rel=0" frameborder="0" allowfullscreen></iframe> -->
                <div class="col s12 m6">
                	<h5>Party Video</h5>
                    <div class="video-container">
                        <iframe width="350" height="200" src="https://www.youtube.com/embed/1XIrBYEkkRI?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col s12 m5 offset-m1">
					<h5>Gallery Images</h5>
                    <div>
                        <a class="gallery_link" href="http://www.iceboxent.com/galleries/nggallery/scorch-and-ice/scorch-ice-2013-by-algerson-vincent"><img class="Thumb" alt="SCORCH + ICE 2013 by Algerson Vincent" src="http://www.iceboxent.com/wp-content/gallery/scorch-ice-by-algerson-vincent/dynamic/scorch-ice-2013_222.jpg-nggid042513-ngg0dyn-91x68-00f0w010c011r110f110r010t010.jpg"></a>
                        <a class="gallery_link" href="http://www.iceboxent.com/galleries/nggallery/scorch-and-ice/scorch-ice-2013-by-trini-jungle-juice"><img class="Thumb" alt="SCORCH + ICE 2013 By Trini Jungle Juice" src="http://www.iceboxent.com/wp-content/gallery/scorch-ice-by-trini-jungle-juice/dynamic/scorch_and_ice_box_ny_2013-086.jpg-nggid042161-ngg0dyn-91x68-00f0w010c011r110f110r010t010.jpg"></a>
                        <a class="gallery_link" href="http://www.iceboxent.com/galleries/nggallery/scorch-and-ice/scorch-ice-2013-by-trey-pentecost"><img class="Thumb" alt="SCORCH + ICE 2013 by Trey Pentecost" src="http://www.iceboxent.com/wp-content/gallery/scorch-and-ice-2013-by-trey-pentecost/dynamic/icebox-entertainment-9-of-453.jpg-nggid041913-ngg0dyn-91x68-00f0w010c011r110f110r010t010.jpg"></a>
                        <a href="http://www.iceboxent.com/galleries/nggallery/rudys-bbq/rudys-bbq-2012" class="shutterset"><img class="Thumb" alt="Rudy\'s BBQ 2012" src="http://www.iceboxent.com/wp-content/gallery/rudy-bbq/dynamic/mg_0045.jpg-nggid03101-ngg0dyn-91x68-00f0w010c011r110f110r010t010.jpg"></a>
                    </div>
                    <div>
                        <a class="gallery_link" href="http://www.iceboxent.com/galleries/nggallery/skins/skins-2013-by-algerson-vincent"><img class="Thumb" alt="SKINS 2013 by Algerson Vincent " src="http://www.iceboxent.com/wp-content/gallery/skins-by-algerson-vincent/dynamic/skins_2013_117.jpg-nggid041616-ngg0dyn-91x68-00f0w010c011r110f110r010t010.jpg"></a>
                        <a class="gallery_link" href="http://www.iceboxent.com/galleries/nggallery/skins/skins-2013-bytrini-jungle-juice"><img class="Thumb" alt="SKINS 2013 byTrini Jungle Juice" src="http://www.iceboxent.com/wp-content/gallery/skins-bytrini-jungle-juice/dynamic/skins_jun2-032.jpg-nggid041864-ngg0dyn-91x68-00f0w010c011r110f110r010t010.jpg"></a>
                        <a class="gallery_link" href="http://www.iceboxent.com/galleries/nggallery/rudys-bbq-2/rudys-bbq-2013"><img class="Thumb" alt="Rudy's BBQ 2013" src="http://www.iceboxent.com/wp-content/gallery/rudys-bbq-2013/dynamic/skins_2013_17.jpg-nggid041896-ngg0dyn-91x68-00f0w010c011r110f110r010t010.jpg"></a>
                        <a class="gallery_link" href="http://www.iceboxent.com/galleries/nggallery/suits/suits-2013-by-trini-jungle-juice"><img class="Thumb" alt="SUITS 2013 by Trini Jungle Juice" src="http://www.iceboxent.com/wp-content/gallery/suits-by-trini-jungle-juice/dynamic/suits_2013_part2-015.jpg-nggid03967-ngg0dyn-91x68-00f0w010c011r110f110r010t010.jpg"></a>
                    </div>
                    <div>
                        <a class="gallery_link" href="http://www.iceboxent.com/galleries/nggallery/suits/suits-2013-by-sanchia-mohammed"><img class="Thumb" alt="SUITS 2013 by Sanchia Mohammed" src="http://www.iceboxent.com/wp-content/gallery/suits-by-sanchia-mohammed/dynamic/suits-2013-ny_2013_edit_308.jpg-nggid041476-ngg0dyn-91x68-00f0w010c011r110f110r010t010.jpg"></a>
                        <a class="gallery_link" href="http://www.iceboxent.com/galleries/"><img class="Thumb" alt="SUITS 2013 by Algerson Vincent" src="http://www.iceboxent.com/wp-content/gallery/suits-by-algerson-vincent/dynamic/suits-02-09-13-108.jpg-nggid03508-ngg0dyn-91x68-00f0w010c011r110f110r010t010.jpg"></a>
                        <a class="gallery_link" href="http://www.iceboxent.com/galleries/nggallery/suits/suits-2013-by-bajan-tube"><img class="Thumb" alt="SUITS 2013 by Bajan Tube" src="http://www.iceboxent.com/wp-content/gallery/suits-by-bajan-tube/dynamic/017.jpg-nggid041149-ngg0dyn-91x68-00f0w010c011r110f110r010t010.jpg"></a>
						<a class="gallery_link" href="http://www.iceboxent.com/galleries/nggallery/suits/suits-2013-by-crystal-ferguson"><img class="Thumb" alt="SUITS 2013 by Crystal Ferguson" src="http://www.iceboxent.com/wp-content/gallery/suits-by-crystal-ferguson/dynamic/kvic_.jpg-nggid03756-ngg0dyn-91x68-00f0w010c011r110f110r010t010.jpg"></a> 
                    </div>
                    <div>
                    	<a href="http://www.iceboxent.com/galleries/nggallery/cool-it-pool-it/coolit-poolit-2011" class="shutterset"><img class="Thumb" alt="COOLIT &amp; POOLIT 2011" src="http://www.iceboxent.com/wp-content/gallery/cool-it-and-pool-it/dynamic/coolitpoolit-55.jpg-nggid03390-ngg0dyn-91x68-00f0w010c011r110f110r010t010.jpg"></a>
                    	<a href="http://www.iceboxent.com/galleries/nggallery/m-i-a/m-i-a-2011" class="shutterset"><img class="Thumb" alt="M.I.A. 2011" src="http://www.iceboxent.com/wp-content/gallery/mia-boat-ride/dynamic/mia_oct9-017.jpg-nggid0215-ngg0dyn-91x68-00f0w010c011r110f110r010t010.jpg"></a>
                    </div>

                		
				</div>
            </div>
        </div>
        <div class="row section valign-wrapper">
            <div class="col s12 m5 offset-m1">
                <a name="contactUs"><h1 id="contact-us">Contact Us</h1></a>
                <h4>ICEBOX ENTERTAINMENT</h4>
                <h4>Addresses</h4>
                <ul>
                    <li>USA: 123 7th Ave, Brooklyn, NY 11215</li>
                    <li>TRINIDAD: 14 Riverside Road, Curepe Trinidad W.I.</li>
                    <li>E-MAIL: info@iceboxent.com</li>
                </ul>
                <h4>Contact Numbers</h4>
                <ul>
                    <li>Main office: 347 273 1992 (USA)</li>
                    <li>Second office: 868 223 1786 (TRINI)</li>
                    <li>Stuart Rosales 347 569 4131 (NYC)</li>
                    <li>Rudy Charles 646 775 8186 (NYC)</li>
                    <li>Kwesi Atherley 443 562 8203 (DC)</li>
                    <li>Sabrina Rosales 868 753 5749 (TRINI)</li>
                </ul>
            </div>
            <div class="col s12 m3">
            		<form action="https://formspree.io/juni1028@aol.com" method="POST" id="contact-form" class="valign">
	                    <input type="text" name="name" placeholder="Name">
	                    <input type="email" name="_replyto" placeholder="E-mail">
	                    <input type="hidden" name="_next" value="//site.io/thanks.html" />
	                    <textarea name="comment" placeholder="Enter comments here" id="comment-section"></textarea>
	                    <input type="submit" value="Send">
                	</form>
            </div>
            <div class="col s12 m3">
            	<iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:3rgsDhGHZxZ9sB9DQWQfuf" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
            </div>
        </div>
    </div>
    </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script>
    $('.button-collapse').sideNav('show');
    $(document).ready(function() {
        $('.slider').slider({
            full_width: true
        });

        $(".button-collapse").sideNav();
    });

    $(document).ready(function(){
      $('.carousel').carousel();
    });
    </script>
</body>

</html>
